#home-slider{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#home-slider .slides{
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;
  .item{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 100vh;
  }
  .item .item-img{
    height: 100%;
    width: 100%;
    background: #000;
    overflow: hidden;
    .item-img-src{
      height: 100vh;
      width: 100vw;
      background-position: center;
      background-size: cover;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.7);
      }
    }
  }
  .item-description{
    position: absolute;
    left: 0;

    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: Gilroy;
    color: #fff;
    font-weight: 600;

    .title{
      max-width: 60vw;
      display: flex;
      flex-wrap: wrap;
      padding: 0 25px;

      span.mask{
        height: 60px;
        display: block;
        overflow: hidden;
        margin-right: 25px;
      }

      span.text{
        display: block;
        line-height: 1.2;
        transform: translate(0, 0);
      }
    }

    .link{
      padding: 0 25px;
      font-size: 16px;
      margin-top: 25px;
      max-width: 60vw;
      @media only screen and (max-width : 769px){
        max-width: 100vw;
      }
      &:before{
        content: '';
        display: block;
        height: 2px;
        width: 60px;
        background: $main-color;
        margin-bottom: 25px;
      }
      a{
        font-family: Gilroy;
        color: rgba(255, 255, 255, 0.86);
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-decoration: none;
        position: relative;
        letter-spacing: 1px;

        @media only screen and (max-width : 960px){
          font-size: 18px;
          line-height: 26px;
        }

        @media only screen and (max-width : 769px){
          font-size: 16px;
          line-height: 24px;
        }
        @media only screen and (max-width : 500px){
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    .action-links{
      display: flex;
      a{
        display: block;
        padding: 20px 45px;
        background: $main-color;
        font-size: 12px;
        line-height: 12px;
        font-family: "Open Sans";
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.4s;
        letter-spacing: 1px;
        border: none;
        text-decoration: none!important;
        margin: 50px 25px;
        &:hover{
          background: lighten($main-color, 3%);
        }
      }
    }

    @media only screen and (max-width : 1200px){
      font-size: 65px;
      .title{
        max-width: 70vw;
      }
      .title span.mask{
        height: 80px;
        margin-right: 20px;
      }
    }

    @media only screen and (max-width : 960px){
      font-size: 40px;
      .title{
        max-width: 85vw;
      }
      .title span.mask{
        height: 50px;
        margin-right: 20px;
      }
    }

    @media only screen and (max-width : 769px){
      font-size: 32px;
      .title{
        max-width: 100vw;
      }
      .title span.mask{
        height: 32px;
        margin-right: 15px;
      }
    }

    //@media only screen and (max-width : 500px){
    //  font-size: 35px;
    //
    //  .title{
    //    max-width: 85vw;
    //  }
    //  .title span.mask{
    //    height: 45px;
    //    margin-right: 10px;
    //  }
    //}

    @media only screen and (max-width : 500px){
      font-size: 25px;
      .title{
        max-width: 80vw
      }
      .title span.mask{
        height: 30px;
        margin-right: 8px;
      }
    }

  }
}

#home-slider .slides-nav{
  position: absolute;
  right: 25px;
  top: 50%;
  width: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  a{
    display: block;
    cursor: pointer;
    padding: 8px 0;
  }
  a span{
    display: block;
    height: 2px;
    width: 15px;
    background: rgba(#fff, 0.5);
    transition: all 0.3s;
  }
  a:hover span, a.active span{
    width: 30px;
    background: #fff;
  }
}

#home-slider  .bottom-counters{
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;

  .counter-item{
    padding: 0 50px;
    border-right: 1px solid #fff;
    @media screen and (max-width: 992px){
      padding: 0 10px;
      border: none;
    }

    &:last-child{
      border: none;
    }

    .top{
      display: flex;
      align-items: flex-end;
      font-size: 40px;
      .fa-users {
        font-size: 52px;
        line-height: 0.75;
        @media screen and (max-width: 992px){
          font-size: 24px;
        }

      }
      @media screen and (max-width:992px){
        font-size: 20px;
      }
    }

    .top .count{
      font-family: "Open Sans";
      font-size: 45px;
      font-weight: 400;
      line-height: 48px;
      padding: 0 15px;
      width: 135px;
      @media screen and (max-width: 992px){
        font-size: 20px;
        line-height: 24px;
        width: 80px;
      }
    }

    .description{
      font-family: "Open Sans";
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.86);
      margin-top: 10px;
      @media screen and (max-width: 992px){
        font-size: 14px;
        line-height: 18px;
      }
    }

  }

}
