.modal-window{
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;

  .modal-window-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: rgba(255,255,255,1);
    transition: all 0.4s ease;
    opacity: 0;
    position: relative;
  }
  &.show{
    .modal-window-wrapper{
      height: 100%;
      overflow: auto;
      opacity: 1
    }
  }

  .close-modal-window{
    position: absolute;
    top: 80px;
    right: 25px;
    font-size: 25px;
    cursor: pointer;
    color: #444;
    transition: all 0.4s;
    opacity: 0;

    &:hover{
      color: $main-color;
    }
  }
}
.modal-window.show .close-modal-window{
  opacity: 1;
}

.modal-window .description p{
  line-height: 1.8;
  color: #444;
}

form.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  opacity: 0;

  input{
    background: unset;
    border: unset;
    width: 100%;
    font-size: 80px;
    font-weight: 900;
    font-family: Raleway;
    text-align: center;
    text-transform: uppercase;
    color: #444;
    @media only screen and (max-width : 1440px){
      font-size: 40px;
    }
    @media only screen and (max-width : 768px){
      font-size: 20px;
    }
    @media only screen and (max-width : 480px){
      font-size: 16px;
    }
  }

  input::placeholder{
    color: #444;
  }

  label{
    font-family: Montserrat;
    font-size: 16px;
    color: $secondary-text;
    margin-top: 25px;
    @media only screen and (max-width : 1440px){
      font-size: 14px;
    }
  }
}

.modal-window.show form.search-form{
  opacity: 1;
}