.paged-nav,
.facetwp-pager{
  display: flex;
  justify-content: center;
}

.facetwp-pager .facetwp-pager-label{
  display: none;
}

.paged-nav a,
.paged-nav span,
.facetwp-page{
  display: flex!important;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 12px;
  height: 35px;
  width: 35px;
  color: rgb(103, 103, 103);
  transition: all 0.4s;
  font-weight: normal!important;
  font-family: "Open Sans";
}
.paged-nav a:hover,
.facetwp-page:hover{
  background: rgba(0,0,0,.12);
  color: rgb(103, 103, 103);
}
.paged-nav span.current,
.facetwp-page.active{
  background: $main-color;
  color: #fff;
  box-shadow: 0px 5px 6.58px 0.42px rgba(0, 0, 0, 0.24), 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.16);
  font-weight: normal!important;
}