#auth{
  position: relative;
  min-height: 100vh;
  transition: all .4s;
  background: linear-gradient(top, rgba(28,155,115,1) 0%, rgba(9,102,72,1) 100%);
}
#auth {
  .auth-body {
    width: 100%;
    position: absolute;
    top: calc(50% - 300px);
    left: 0;
    @media (max-width: 768px){
      top: 100px;
    }
    @media (max-width: 400px){
      top: 50px;
    }
  }
  .auth-body form {
    position: relative;
    max-width: 420px;
    ьшт-height: 420px;
    background: #fff;
    border-radius: 4px;
    padding: 40px;
    margin: 0 auto;
    box-shadow: $shadow--type_1;
  }

  .logo {
    font-family: Montserrat;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #444;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .auth-input {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 15px;
    font-family: Montserrat;
    transition: all 0.4s;
    &:focus {
      border-color: $main-color;
    }
  }

  .auth-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    font-weight: 600;
    border-radius: 2px;
    font-family: "Open Sans";
    background: $main-color;
    color: #fff;
    border: unset;
    transition: all 0.4s;
    &:hover {
      background: lighten($accent-color, 3%);
    }
  }

  .go-home {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    transition: all 0.4s;
    color: #444;
    &:hover {
      color: $main-color;
    }
  }

  .create-acc {
    font-family: "Open Sans";
    margin-top: 15px;
    color: #444;
    transition: all 0.4s;
    & a {
      transition: all 0.4s;
      color: $main-color;
    }
  }

  .error_message {
    color: #F1423B;
    font-size: 14px;
    margin-top: 5px
  }
}
