#pluses-cards .item{
  padding: 35px 35px;
  border-radius: 2px;
  background: #fff;
  box-shadow: rgba($main-color, 0) 0px 30px 90px 0px;
  transition: background 0.45s, box-shadow 0.45s;
  height: 100%;
  border: 1px solid $border-color;
  @media only screen and (max-width : 960px){
    padding: 15px 35px
  }
  &:hover{
    background: rgba($main-color, 1);
    box-shadow: rgba($main-color, 0.33) 0px 30px 90px 0px
  }
  .img-prev{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

    @media only screen and (max-width : 960px){
      justify-content: center
    }
    svg{
      fill: $main-color;
      color: $main-color;
      max-width: 50px;
      height: 50px;
      transition: all 0.45s;
    }
  }
  &:hover .img-prev svg{
    fill: #fff;
    color: #fff;
  }
  .title{
    font-size: 20px;
    color: $main-text;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 8px;
    font-family: Montserrat;
    transition: all 0.45s;
    @media only screen and (max-width : 960px){
      text-align: center;
    }
  }
  &:hover .title{
    color: #fff;
  }
  .description{
    line-height: 20px;
    color: rgba(#444, 0.75);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    transition: all 0.45s;
  }
  @media only screen and (max-width: 960px){
    text-align: center;
  }
  &:hover .description{
    color: rgba(#fff, 0.75);
  }
}

//PARTNERS
#partners{
  .item{
    padding: 15px 50px;
    outline: none!important;
    display: flex;
    align-items: flex-end;
    height: 130px;
  }
  img{
    display: block;
    height: 100%;
  }
}

//CARDS STYLE
.slide-item{
  outline: none!important;
  a.project-card{
    display: block;
    text-decoration: none;
    outline: none!important;
  }
  .img-prev{
    height: 240px;
    background-size: cover;
    background-position: center;
    box-shadow: $shadow--type_1;
    border-radius: 2px;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    display: block;
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(#000, 0.2);
      z-index: 0;
    }
  }
  a.project-card:hover .img-prev{
    transform: translateY(-10px);
    box-shadow: $shadow--type_4;
  }

  .category{
    position: absolute;
    top: 10px;
    left: 10px;
    background: $accent-color;
    padding: 0px 16px;
    color: #fff;
    font-family: Raleway;
    font-size: 11px;
    letter-spacing: 1px;
    height: 24px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .simplefavorite-button{
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
    font-size: 24px;
    display: block;
    line-height: 24px;
    color: #fff;
    transition: color 0.4s;
    span{
      display: block;
    }
    &:hover, &.active{
      color: #ffea00
    }
  }

  .info{
    .title{
      font-size: 16px;
      line-height: 16px;
      height: 16px;
      overflow: hidden;
      color: $main-text;
      margin-top: 24px;
      font-family: Raleway;
      font-weight: 600;
      text-decoration: none!important;
      transition: color 0.4s;
    }
    .description{
      display: block;
      height: 48px;
      overflow: hidden;
      font-size: 13px;
      line-height: 1.3;
      color: $secondary-text;
      margin-top: 10px;
      font-weight: normal;
      font-family: "Open Sans";
    }
  }


  .additional{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .12);
    padding: 10px 0;
    margin-top: 16px;
    color: #757575;
    .views{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .views span{
      font-size: 18px;
      display: block;
      margin-right: 10px
    }
  }
}

a.more-projects{
  display: inline-block;
  border: 1px solid $main-color;
  color: $main-color;;
  border-radius: 2px;
  padding: 8px 25px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  transition: all 0.4s;
}
a.more-projects:hover{
  background: $main-color;;
  color: #fff
}

.fw-card{
  .project-prev{
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: $shadow--type_1;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0, 0.2);
      z-index: 0;
    }
  }

  .title{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    color: $main-text;
    margin-top: 25px;
    padding: 0 24px;
  }

  .invest-already{
    padding: 0 25px;
    margin-top: 35px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: $secondary-text;
  }

  .progress-bar{
    margin: 10px 25px 0;
    width: calc(100% - 50px);
    height: 4px;
    border-radius: 1px;
    background: #DCDCDC;
    position: relative
  }

  .progress{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: $accent-color;
  }

  .invest-already-info{
    padding: 0 25px;
    margin-top: 8px;
    color: $secondary-text;
  }

  .description{
    color: $secondary-text;
    font-size: 14px;
    line-height: 1.6;
    padding: 0 25px;
    margin-top: 35px;
  }

  .invest-already-info{
    padding: 0 25px;
    margin-top: 8px;
  }

  .additional-info{
    display: flex;
    padding: 0 25px;
    margin-top: 25px
  }
  .additional-info .additional-info-item{
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 8px 16px;
    color: #888;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    margin-right: 15px;
    transition: all 0.4s;
  }
  .additional-info .additional-info-item .text{
    margin-left: 10px
  }
  .additional-info .additional-info-item .lnr{
    font-size: 20px;
  }

  .action{
    padding: 25px;
  }
}

.progress-info{
  .progress-bar {
    margin: 10px 0px 0;
    width: calc(100%);
    height: 4px;
    border-radius: 1px;
    background: #DCDCDC;
    position: relative;
    .progress {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: $accent-color;
    }
  }

  .invest-already-info {
    margin-top: 8px;
    color: $secondary-text;
  }
}
@media screen and (max-width: 767px){
  #project_categories {
    max-height: 320px;
    overflow: hidden;
    transition: all 0.8s;

    .home-category {
      width: 100%;
      display: block;
      background: #fff;
      padding: 10px;

    }
    .home-category-item {
      width: 100%
    }
    .home-category-item {
      .front {
        width: 100%;
        display: flex;
        align-items: center;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
          width: 36px;
          border-radius: 18px;
          padding: 8px;
        }
        .icon img {
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
        }
        .name {
          max-width: calc(100% - 36px)
        }
      }
      .back {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px){
  #project_categories {
    max-height: 308px;
    overflow: hidden;
    transition: all 0.8s;

    .home-category, .home-category-item {
      height: 130px;
      display: block;
      position: relative;
      transform-style: preserve-3d;

    }
    .home-category-item .front,
    .home-category-item .back {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #fff;
      z-index: 1;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transform: rotateX(0deg);
      transition: all 0.8s;
      border: 1px solid rgba(0, 0, 0, .12);
    }
    .home-category-item .back {
      color: #fff;
      z-index: 2;
      transform: rotateX(180deg);
    }
    .home-category-item .front span {
      transform: translateZ(70px);
      transform-style: preserve-3d;
    }
    .home-category-item .back span {
      transform: translateZ(70px);
      transform-style: preserve-3d;
    }
    .home-category:hover .home-category-item .front {
      transform: rotateX(180deg);
    }
    .home-category:hover .home-category-item .back {
      transform: rotateX(0deg);
    }
    .home-category-item .icon {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .home-category-item .icon img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    .home-category-item .name {
      font-family: Montserrat;
      color: #757575 !important;
    }

    .home-category a:hover {
      color: #757575 !important;
    }

  }
}


#project_categories.show{
  max-height: 1232px;
}

.more-cats .show,
.more-cats .hide{
  cursor: pointer;
  border: 1px solid #1d9d73;
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  color: #1d9d73;
  transition: all 0.4s;
  display: none;
}
.more-cats .show.active,
.more-cats .hide.active{
  display: block;
}
.more-cats .show:hover,
.more-cats .hide:hover{
  background: #1d9d73;
  color: #fff;
}
.more-cats .show span:first-child,
.more-cats .hide span:first-child{
  margin-right: 10px;
  font-family: "Open Sans";
}
.more-cats .show span:last-child,
.more-cats .hide span:last-child{
  font-weight: 600
}

#project_types a{
  display: block;
  height: 250px;
  filter: grayscale(1);
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}
#project_types a:hover{
  filter: grayscale(0);
}
#project_types a img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#project_types a .description{
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  padding: 15px 25px;
  background: rgba(0,0,0,0.45);
  z-index: 1;
  color: #fff;
  font-family: Montserrat;
  transition: all 0.4s;
}
#project_types a:hover .description{
  background: rgba(0,0,0,0.8);
  bottom: 0px;
}
#project_types a .description span.count,
#project_types a .description span.name{
  display: block;
}
#project_types a .description span.count{
  font-size: 12px;
  color: #8A8A8A;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s;
  opacity: 0
}
#project_types a:hover .description span.count{
  opacity: 1
}







