#single-project-page{
  .project-title{
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #444;
    text-transform: uppercase;
    @media (max-width: 450px){
      font-size: 25px;
    }
  }
  .secondary-info{
    color: $secondary-text;
    font-size: 13px;
    line-height: 13px;
    font-family: Montserrat;
    font-weight: 400;
  }
  .project-price{
    font-size: 30px;
    line-height: 30px;
    color: #444;
    font-family: Montserrat;
    font-weight: 400;
  }
  .show-contacts.disabled{
    background: rgba($accent-color, 0.5);
    color: #fff!important;
    cursor: not-allowed;
  }

  #contacts-info{
    display: none;
    .contacts-info-item{
      color: #676767;
      font-size: 16px;
      line-height: 18px;
      font-family: "Open Sans";
      font-weight: 400;
    }
  }
  .main-info .main-info-item{
    color: $secondary-text;
    font-size: 15px;
    line-height: 28px;
    font-family: Montserrat;
    font-weight: 400;
    .name{
      color: $main-text;
      margin-right: 10px
    }
    a{
      color: $secondary-text;
      font-size: 17px;
      line-height: 28px;
      font-family: "Open Sans";
      font-weight: 400;
      text-decoration: none;
      transition: all 0.4s;
    }
    a:hover{
      color: $main-color
    }
  }

  .additional-info{
    display: flex;
  }
  .additional-info .additional-info-item{
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 8px 16px;
    color: #888;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    margin-right: 15px;
    transition: all 0.4s;
    @media (max-width: 450px){
      height: 35px;
      font-size: 12px;
      padding: 6px 14px;
    }
  }
  .additional-info .additional-info-item .text{
    margin-left: 10px
  }
  .additional-info .additional-info-item .lnr{
    font-size: 20px;
    @media (max-width: 450px){
      font-size: 16px;
    }
  }



  .description p, .description ul{
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: 400;
    color: $secondary-text;
    line-height: 27px;
  }
  p{
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 400;
    color: $secondary-text;
    line-height: 27px;
    padding: 0;
    margin: 0;
  }
  //slider
  .gallery .simplefavorite-button{
    position: absolute;
    top: 10px;
    left: 35px;
    height: 60px;
    width: 60px;
    background: rgba(0,0,0, 0.4);
    font-size: 30px;
    border-radius: 2px;
    color: #fff;
    z-index: 999;
    &:hover, &.active{
      color: #ffea00
    }
  }
  #project-page-slide {
    width: 100%;
    position: relative;
    a {
      width: 100%;
      height: 500px;
      overflow: hidden;
      display: block;
      @media only screen and (max-width : 480px){
        height: 200px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .prev-slide, .next-slide {
      position: absolute;
      top: calc(50% - 11px);
      left: 0;
      font-size: 10px;
      line-height: 1;
      color: $main-text;
      font-weight: bold;
      padding: 18px 0;
      width: 35px;
      background: rgba(246, 246, 246, 0.9);
      z-index: 9;
      text-align: center;
      cursor: pointer;
      opacity: 0;
      transition: all 0.4s;
    }
    .next-slide {
      left: auto;
      right: 0;
    }
    &:hover .prev-slide, &:hover .next-slide {
      opacity: 1;
    }
    .prev-slide:hover, .next-slide:hover {
      background-color: $accent-color;
      color: #fff;
    }
    .next-slide.slick-disabled, .prev-slide.slick-disabled {
      opacity: 0 !important
    }
  }

  //slider nav
  #project-page-slide-nav {
    position: relative;
    width: 100%;

    .slide-item {
      margin-right: 10px;
      height: 100px;
      width: 100%;
      overflow: hidden;
      display: block;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: rgba(#fff, 0.6);
        transition: all 0.4s;
      }
      &.slick-current:after {
        background: rgba(#fff, 0);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .send-message label{
    font-size: 17px;
    color: #333;
    font-family: Montserrat;
  }
}

//breadcrumbs
.breadcrumbs{
  margin: 30px 0;
  display: flex;
  align-items: center;
}
.breadcrumbs a{
  color: #757575;
  font-family: Montserrat;
  font-size: 14px;
  transition: color 0.4s;
}
.breadcrumbs a:hover{
  color: $main-color!important;
}
.breadcrumbs a.disabled{
  color: #757575;
  cursor: default;
}
.breadcrumbs a.disabled:hover{
  color: #757575;
  cursor: default;
}
.breadcrumbs span{
  font-size: 8px;
  padding: 0 6px;
  font-weight: bold
}