#profile-page{
  .message-link{
    border-bottom: 1px solid $border-color;
    transition: all 0.4s;
    &:hover{
      background: $bg-color;
    }
    .favorite-link{
      width: 72px;
      padding: 0 16px;
      a{ text-decoration: none!important; display: block }
      a.message-action-unstar{
        span.icon:before{ color: #FDBF28; }
      }
      a:after{ display: none!important }
      span.icon{ display: block; line-height: 1; }
      span.icon:before{
        font-size: 24px;
        content: 'star_border';
        font-family: 'Material Icons'!important;
        color: $secondary-text;
      }
      span.icon:hover:before{ color: #FDBF28; }

    }
  }

  //single message
  .message{
    display: flex;
    justify-content: flex-start;
    padding: 8px 0;
    max-width: 100%;
    .content {
      background: #eeeeee;
      padding: 16px;
      border-radius: 10px;
      p { margin: 0; padding: 0; }
    }
    &.sent-by-me{
      justify-content: flex-end;
      .content { background: #2196F3; }
      .content p { color: #fff; }
    }
    .metadata {
      color: #8A8A8A;
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      font-family: Montserrat;
      span{ padding: 0 16px; }
    }
  }
}