#user-projects .project-item {
  cursor: pointer;
  border-bottom: 1px solid $border-color;
  transition: 0.4s;
  &:hover {
    background: $bg-color;
  }
  .logo-prev{
    min-height: 150px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .filled-btn--small.remove, .filled-btn--small.review{
    background: lighten(#F1423B, 15%);
    padding: 8px 15px;
    font-size: 9px;
  }
  .filled-btn--small.review{
    background: lighten(#F1423B, 15%);
  }
  .filled-btn--small.review:hover{
    background: lighten(#F1423B, 15%);
  }
  .filled-btn--small.remove:hover{
    background: #F1423B;
  }

}
#user-projects{
  #error-message{
    display: none
  }
  .message{
    display: flex;
    justify-content: start;
    align-items: center;
    background: #f1423b;
    margin-bottom: 25px;
    padding: 10px 25px;
    color: #fff;
  }
  .message p{
    font-size: 15px;
    padding: 0 15px;
    font-family: Montserrat;
    color: #fff
  }
}

