/*#preloader{*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*overflow: hidden;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background: #1F2427;*/
    /*z-index: 9999;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center*/
/*}*/
/*.loader,*/
/*.loader:after {*/
    /*border-radius: 50%;*/
    /*width: 10em;*/
    /*height: 10em;*/
/*}*/
/*.loader {*/
    /*font-size: 10px;*/
    /*position: relative;*/
    /*text-indent: -9999em;*/
    /*border-top: 0.9em solid rgba(255, 255, 255, 0.2);*/
    /*border-right: 0.9em solid rgba(255, 255, 255, 0.2);*/
    /*border-bottom: 0.9em solid rgba(255, 255, 255, 0.2);*/
    /*border-left: 0.9em solid #0288D1;*/
    /*-webkit-transform: translateZ(0);*/
    /*-ms-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*-webkit-animation: load8 1.1s infinite linear;*/
    /*animation: load8 1.1s infinite linear;*/
/*}*/
/*@-webkit-keyframes load8 {*/
    /*0% {*/
        /*-webkit-transform: rotate(0deg);*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*100% {*/
        /*-webkit-transform: rotate(360deg);*/
        /*transform: rotate(360deg);*/
    /*}*/
/*}*/
/*@keyframes load8 {*/
    /*0% {*/
        /*-webkit-transform: rotate(0deg);*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*100% {*/
        /*-webkit-transform: rotate(360deg);*/
        /*transform: rotate(360deg);*/
    /*}*/
/*}*/

/*body{*/
    /*height: 100vh;*/
    /*overflow: hidden;*/
/*}*/

#preloader{
    height: 100vh;
    width: 100vw;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    overflow: hidden;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1980b3;
    z-index: 2001;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3399cc;

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #70b7da;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}