@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot%3F") format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot%3F") format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "GothamProMedium";
}

.main {
    /*background: url("../img/bg-header.png");*/
    width: 100%;
    height: 100vh;
    padding: 35px 50px 50px;
    background-color: rgba(255, 255, 255, 0.93);
    position: relative;
}

section.important-section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
section{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.main-flex-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 11;
    padding: 0 50px;
}

.column-flex-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    height: 29px;
}

.btn-secondary:not([disabled]):not(.disabled).active img, .btn-secondary:not([disabled]):not(.disabled):active img, .show > .btn-secondary.dropdown-toggle img{
    display: none;
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background-color: white;
    border: solid 5px #4221f7;
    box-shadow: none;
    color: #424242;
}

.btn-secondary {
    margin-bottom: 12px;
    padding: 1px 2px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 0;
    font-size: 14px;
    color: #424242;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: transparent;
    color: #424242;
}

.btn-group-vertical {
    padding-top: 60px;
}

.header-main h1 {
    margin-bottom: 36px;
    font-family: "GothamProBold";
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #424242;
    text-transform: uppercase
}

.header-main h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: "GothamProMedium";
    color: #424242;

}

.header-main > *{
    width: 100%;
}

.header-main {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 90px;
    padding-left: 14.3%;
    z-index: 1;
    padding-bottom: 130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    justify-content: left;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.left-links p, .left-links a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.87;
    color: #424242 !important;
    margin-bottom: 0;
    display: block;
}

.left-links a:last-child:hover{
    text-decoration: none;
}

.left-links a:last-child{
    text-decoration: underline;
}

.bottom-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.main-flex-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 0 40px 0 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    z-index: 10;
}

section {
    padding-top: 121px;
}

section.pt10{
    margin-bottom: 100px;
    padding-top: 10px;
}

h5 {
    font-size: 14px;
    font-weight: 500;
    color: #303030;
    text-align: center;
}

h2 {
    font-family: GothamPro;
    font-size: 40px;
    text-align: center;
    color: #303030;
    font-family: "GothamProBold";
    line-height: 1.6;
}

.flex-imac-child-main {
    position: relative;
}
.padding-bottom{
    margin-bottom: 97px;
}
.imac-content {
    width: 83%;
    position: absolute;
    left: 8.4%;
    top: 4%;
    z-index: 20;
    overflow: hidden;
    background-color: #f3f3f3;
}

.imac {
    width: 100%;
}

.flex-imac {
    display: flex;
    flex-direction: row;
}

.flex-imac-child {
    width: 30%;
    margin-right: -2%;
}

.flex-imac-child-main {
    width: 44%;
}

.flex-imac-child img:first-child {
    width: 43%;
}

.flex-imac-child img:nth-child(2) {
    width: 56%;
    margin-right: -1%;
}

.flex-imac-child img:nth-child(3) {
    width: 30%;
    vertical-align: top;
    margin-top: 10px;
}

.flex-imac-child img:last-child {
    width: 57%;
    margin: 10px 0 0 20px;
}

.flex-imac {
    padding-top: 87px;
}

.flex-imac-child-second {
    width: 30%;
    margin-left: -2%;
}

.flex-imac-child-second img:first-child {
    width: 55%;
    margin-left: -1%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.flex-imac-child-second img:nth-child(2) {
    width: 41%;
}

.flex-imac-child-second img:nth-child(3) {
    width: 58%;
    margin: 0 4% 0 6%;
}

.flex-imac-child-second img:last-child {
    width: 30%;
    vertical-align: top;
}

.title-image {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #303030;
}

.portfolio {
    padding-top: 80px;
}

.circle-button {
    padding: 21px 26px;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.1), 0px 5px 15px 0 rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    position: absolute;
    width: 65px;
    left: 40%;
    bottom: -7%;
    height: 65px;
    outline: none!important;
}

.green {
    background-color: #83be36;
}

.portfolio-image {
    width: 100%;
    position: relative;
}

.bg-img-prev{
    height: 315px;
    position: relative;
    background-size: cover;
    background-position: center top;
    border-radius: 4px;
    overflow: hidden;
}

.bg-img-prev--round{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-position: center top;
    overflow: hidden;
}

.slider-item{
  margin-bottom: 30px;
  outline: none!important;
}

.button-div {
    height: 48px;
    width: 48px;
    bottom: -24px;
}

.blue {
    background-color: #3083ff;
}

.yellow {
    background-color: #ffc51e;
}

.internet {
    box-shadow: 0px 10px 50px 0 rgba(0, 0, 0, 0.25);
}

.experience-img {
    width: 100%;
    display: block;
    height: auto;
}

.overlay {
    width: calc(100% - 30px);
    height: 240px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(66, 33, 247);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.cc:hover .overlay {
    opacity: 0.8;
}

.text {
    color: white;
    ont-family: "GothamProBold";
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.my-btn-blue {
    width: 201px;
    height: 60px;
    border-radius: 30px;
    background-color: #4221f7;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.section-experience {
    padding-bottom: 121px;
    border-bottom: solid 2px #cfd6dc;
}

.custom-container {
    max-width: 764px;
    margin-left: auto;
    margin-right: auto;
}

.main-icon {
    width: 100%;
    position: relative;
}

.counter {
    position: absolute;
    top: 4%;
    left: 10%;
}

.paragraph {
    font-size: 14px;
    line-height: 1.71;
    color: #303030;
    padding-top: 30px;
}

.description {
    font-size: 24px;
    font-weight: bold;
    color: #303030;
}

.row-description {
    padding-top: 137px;
}

.btn-grey {
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 320px;
    height: 60px;
    border-radius: 30px;
    background-color: #303030;
    margin-top: 100px;
}

.development {
    font-size: 125px;
    font-weight: bold;
    color: #4a29fe;
    text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
    font-family: "GothamProBold";
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -76px;
}

.big-div {
    background-color: #4221f7;
    background-size: 100% 100%;
    margin-top: 94px;
    position: relative;
    height: 680px;
}

.white-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.94;
    color: #ffffff;
}

.btn-grey-second {
    font-size: 14px;
    width: 303px;
    height: 60px;
    border-radius: 30px;
    border: none;
    margin-top: 56px;
}

.custom-container-second {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
}

.bg-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.small-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.second-images {
    padding-top: 37px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #4221f7;
    text-align: center;
}

.description-portfolio {
    font-size: 18px;
    font-weight: 500;
    line-height: 2.67;
    color: #303030;
    text-align: center;
}

.custom-container-third {
    max-width: 1123px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-image-second {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.order {
    width: 136px;
    height: 40px;
    border-radius: 20px;
    background-color: #303030;
    color: white;
    font-size: 14px;
    font-family: "GothamProBold";
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.development-second {
    color: #ff8128;
}

.big-div-second {
    background-image: url("../img/Ellipse.png");
}

.bg-div {
    height: 680px;
    position: relative;
    background-size: 100% 100%;
}

.line{
    position: relative;
    width: 100%;
    height: 100%;
}

.top-dott {
    font-size: 18px;
    line-height: 1.94;
    color: #303030;
    font-family: "GothamProBold", sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.shape {
    display: inline-block;
    position: absolute;
}

.shape1 {
    top: 47%;
    left: 13%;
}

.shape2 {
    left: 24.5%;
    top: 51%;
}

.shape3 {
    left: 36.5%;
    top: 60%;
}

.shape4 {
    left: 48.5%;
    top: 56%;
}

.shape5 {
    left: 60.5%;
    top: 29%;
}

.shape6 {
    left: 72%;
    top: 16%;
}

.shape7 {
    left: 84%;
    top: 26%;
}

.div-on-image p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.94;
    color: #303030;
}

.div-on-image {
    width: 290px;
    position: absolute;
    top: 63%;
    left: 63%;
}

.div-on-image button {
    width: 290px;
    height: 60px;
    border-radius: 30px;
    background-color: #303030;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    border: none;
}

.tech {
    font-size: 40px;
    color: #303030;
    font-family: "GothamProBold";
}

.custom-container-fourth {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
}

.row-images {
    padding-top: 31px;
}

.align-items {
    align-items: center;
}

.tech-sec {
    padding-bottom: 121px;
    border-bottom: solid 2px #d1d8de;
    border-top: solid 2px #d1d8de;
}

.custom-container-five {
    max-width: 1116px;
    margin-left: auto;
    margin-right: auto;
}

.header-location {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    font-family: "GothamProBold";
    text-align: left;
}
.p-location{
    font-size: 14px;
    line-height: 1.71;
    color: #303030;
    padding-top: 18px;
}
.icons img{
    padding-right: 26px;
}
.tooltip-custom p{
    font-size: 11px;
    line-height: 1.5;
    color: #090909;
}
.tooltip-custom p b{

    color: #4221f7;
}
.absolute-width{
width: 100%;
}
.tooltip-custom{
    margin-top: 26px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1), 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
    width: 165px;
    height: 55px;
    padding: 14px 55px 13px 25px;
    border-left: 5px solid #4221f7;
    position: relative;
}
.three-dots{
    position: absolute;
    right: 0;
    top: 0;
}
.icons a:first-child img {
    height: 16px;
}
.icons img:last-child{
    padding-right: 5px;
}
.btn-grey-third{
    margin-top: 0;
}
.bg-map{
    position: relative;
    width: 100%;
    height: 100%;
}
.dropdown-second{
    position: absolute;
}
.btn-map{
    background: white;
    border: none;
    width: 18px;
    height:18px;
    border-radius: 50%;
}
.drop-head{
    font-family: "GothamProBold";
    font-size: 16px;
    line-height: 1.25;
}
.drop-desc{
    font-size: 12px;
    line-height: 1.67;
    color: #8d8d8d;
}
.drop-text{
    font-size: 12px;
    line-height: 1.67;
    color: #8d8d8d;
}
.map{
    position: relative;
    padding: 0;
    /*border-bottom: solid 2px #d1d8de;*/
    margin-top: 5%;
}
.map-desc{
    margin-top: 5%;
}
.dropdown1{
    left: 51%;
    bottom: 42%;
}
.btn-map{
    padding: 0;
}
.dropdown-toggle::after{
    border: none;
}
.btn-image{
    padding: 4px 0 5px 3px;
    color: #4221f7;
}
.btn-white{
    padding: 0 0 5px 3px;
}
.btn-map:hover{
    background-color: #4221f7;
}
.none{
    visibility: hidden;
}
.dropdown-menu.show{
    width: 225px;
    height: auto;
    max-height: 261px;
    overflow-x: hidden;
    padding: 17px 21px 30px 16px;
}
.dropdown2{
    top: 5%;
    left: 35%;
}
.dropdown3{
    top: 33%;
    left: 24.5%;
}
.dropdown4{
    top: 35%;
    left: 19.5%;
}
.dropdown5{
    top: 64%;
    left: 29.5%;
}
.dropdown6{
    top: 67%;
    left: 30.5%;
}
.dropdown7{
    top: 68%;
    left: 34.5%;
}
.dropdown8{
    top: 86%;
    left: 27.5%;
}
.dropdown9{
    top: 57%;
    left: 48.5%;
}
.dropdown10{
    top: 39%;
    left: 45.5%;
}
.dropdown11{
    top: 35%;
    left: 47.5%;
}
.dropdown12{
     top: 36%;
     left: 53.5%;
 }
.dropdown13{
    top: 34%;
    left: 54.5%;
}
.dropdown14{
    top: 37%;
    left: 61.5%;
}
.dropdown15{
    top: 38%;
    left: 65.5%;
}
.dropdown16{
     top: 40%;
     left: 62.5%;
 }
.dropdown17{
    top: 26%;
    left: 61.5%;
}
.dropdown18{
    top: 26%;
    left: 67.5%;
}
.dropdown19{
    top: 25%;
    left: 70.5%;
}
.dropdown20{
    top: 28%;
    left: 68.5%;
}
.flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-footer p{
    font-size: 12px;
    line-height: 1.5;
    color: #637c95;
}
.footer-bottom{
    padding-top: 47px;
    padding-bottom: 47px;
    margin-top: 2%;
    border-top: solid 2px #d1d8de;
}
.marketing{
    color: #d4e947;
    text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
@media only screen and (max-width : 998px) {
    .title-image{
        padding-top: 10%;
        font-size: 21px;
    }


    .business-task .caption:before{
        right: 101%!important;
    }
    .circle-button{
        bottom: -3%;
        left: 0;
        left: 50%;
        transform: translateX(-50%)
    }
    .counter {
        top: 10%;
        left: 4%;
    }
    .big-div{
        background-size: 100% 100%;
    }
    .development, .custom-container-second{
        position: inherit;
    }
    .main-icon{
        width: 80%;
    }
    .portfolio-image-second{
        padding-top: 5%;
    }
    .development{
        font-size: 13vw;
    }
    .big-div{
        height: 100%;
    }
    .absolute-width{
        padding-top: 10%;
    }
    .header-main{
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 130px;
    }
    .small-image, .bg-image{
        padding-top: 5%;
    }
    .row-description{
        padding-top: 5%;
    }
    .main{
        padding: 5% 5%;
    }
/*    .shape1 {
        top: 47%;
        left: 8%;
    }
    .shape2 {
        left: 19.5%;
        top: 52%;
    }
    .shape3 {
        left: 32.5%;
        top: 60%;
    }
    .shape4 {
        left: 45.5%;
        top: 51%;
    }
    .shape5 {
        left: 53.5%;
        top: 30%;
    }
    .shape6 {
        left: 66%;
        top: 17%;
    }
    .shape7 {
        left: 78%;
        top: 26%;
    }*/
    .dott1{
        width: 100%;
    }


}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: #4556e8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    margin-right: -13px;
    padding: 0;
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.new-btn {
    text-decoration: none;
    line-height: 60px;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}
.new-btn:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
}
.new-btn.to-fourty {
    line-height: 40px;
}
.top-height {
    height: 63px;
}
.social {
    margin-right: 20px;
    text-decoration: none;
}
.social:hover {
    opacity: 0.7;
    text-decoration:none;
}
.modal-content {
    background-color: #f2f2f2;
}
.modal-header {
    border-bottom: 0;
    padding-top: 40px;
    margin-bottom: 30px;
}
.modal-header .close {
    position: absolute;
    right: 20px;
    top: 20px;
}
.modal-header h4 {
    font-size: 18px;
    width: 100%;
}
.modal-footer {
    border-top: 0;
}
.modal-body .inputs {
    margin-bottom: 20px;
}
.modal-body .inputs input {
    height: 52px;
    border-radius: 0;
    border: 1px solid #dadada;
    color: #191818;
    width: 300px;
    background-color: #fff;
    padding-left: 10px;
}
.modal-body .inputs input::-webkit-input-placeholder {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    color: rgba(0,0,0,0.5);
}
.modal-body .inputs input::-moz-placeholder {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    color: rgba(0,0,0,0.5);
}
.modal-body .inputs input:-moz-placeholder {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    color: rgba(0,0,0,0.5);
}
.modal-body .inputs button {
    width: 300px;
    border: 0;
    border-radius: 0;
    background-color: #0f9bdc;
    color: #ffffff;
    text-transform: uppercase;
    height: 52px;
    cursor: pointer;
    transition: 0.3s;
}
.modal-body .inputs button:hover {
    border-radius: 3px;
    box-shadow: 0 3px 30px rgba(0,0,0,0.3);
}
.modal-footer {
    display: block;
}
.modal-footer p {
    display: block;
    margin-bottom: 0;
}
.modal-footer p.title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal-footer p a {
    font-size: 16px;
    font-weight: 400;
    color: #191818;
    text-decoration: none;
}

.column-flex-top img{
    cursor: pointer;
}

.header-a{
    width: 682px;
    height: 573px;
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -260px;
    display: block;
    background: url("../img/header-a.png") no-repeat center / contain;
}

.main{
    overflow: hidden;
}

.best-project:before{
    width: 255px;
    height: 427px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    z-index: 0;
    background: url("../img/bg-grass1.png") no-repeat center / contain;
}

.best-project:after{
    width: 745px;
    height: 191px;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    z-index: 0;
    background: url("../img/bg-grass2.png") no-repeat center / contain;
}

.best-project h5,
.best-project h2{
    position: relative;
    z-index: 2;
}

.best-project *{
    z-index: 10;
}
.best-project{
    position: relative;
    background-color: white;
}

.business-task .center-bl{
    max-width: 1175px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.business-task{
    overflow: hidden;
    position: relative;
}

.important-section{
    margin-bottom: 200px;
}

.business-task .one-block:last-child{
    margin-right: 0;
}

.business-task .one-block .box-img{
    width: 30px;
    height: 47px;
    margin-bottom: 15px;
    border-bottom: 1px solid #303030;
}

.business-task .one-block .text-l{
    font-size: 14px;
    color: #303030;
}

.business-task .one-block{
    width: 32%;
    margin-right: 2%;
    float: left;
}

.business-task .article-bold span{
    display: block;
}
.business-task .article-bold{
    max-width: 770px;
    margin-bottom: 75px;
    font-size: 40px;
    line-height: 50px;
    color: #303030;
    font-family: "GothamProBold", sans-serif;
}

.business-ico1{
    width: 31px;
    height: 31px;
    display: inline-block;
    background: url("../img/business-ico1.svg") no-repeat ;
}

.business-ico2{
    width: 33px;
    height: 29px;
    display: inline-block;
    background: url("../img/business-ico2.svg") no-repeat ;
}

.business-ico3{
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("../img/business-ico3.svg") no-repeat ;
}

.business-task .caption:before{
    height: 1px;
    width: 800px;
    right: 102%;
    position: absolute;
    top: 12px;
    content: "";
    background-color: #303030;
}

.jobs-list .caption a:hover{
    color: #303030;
    text-decoration: none;
}

.jobs-list .caption a{
    color: #303030;
    text-decoration: none;
}

.business-task .caption{
    margin-bottom: 60px;
    position: relative;
    color: #303030;
    font-size: 16px;
    text-transform: uppercase;
}

.business-task .antvan-text{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    font-size: 140px;
    z-index: 0;
}
.business-task .antvan-text span{
    display: block;
    text-align: center;
    color: #303030;
    opacity: 0.04;
    font-family: "GothamProBold", sans-serif;
}

section.client-box .container-fluid{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.bg-grass3:before{
    width: 274px;
    height: 425px;
    display: block;
    right: 0;
    top: 0;
    position: absolute;
    content: "";
    background: url("../img/bg-grass3.png") no-repeat center / contain;
}

.business-task .text-ant2{
    color: #303030;
    font-size: 14px;
    line-height: 24px;
}

.business-task .block-grey.grey2 .antvan-text{
    top: 15px;
}

.flex-imac-child, .flex-imac-child-second{
    padding-top: 15px;
    overflow: hidden;
}

.business-task .block-grey{
    padding: 95px 0;
    background-color: #f7f7f7;
}

.business-task .block-white{
    padding: 90px 0 100px;
    background-color: #ffffff;
}

.awards-line .box-img img{
    max-height: 100%;
}

.awards-line .box-img{
    width: 100%;
    height: 124px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    border-bottom: 1px solid #e6e6e6;
}

.awards-line .article{
    margin-bottom: 16px;
    font-size: 30px;
}

.awards-line .text-awords{
    padding: 17px 20px 30px;
    text-align: center;
    color: #303030;
    font-size: 14px;
    text-transform: uppercase;
}

.awards-line{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.awards-line .one-block2{
    width: 16.5%;
    float: left;
}

.jobs-list .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.jobs-list{
    margin-bottom: 100px;
}

.jobs-list .box-img{
    height: 240px;
    line-height: 0;
    margin-bottom: 30px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    overflow: hidden;
    /*-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);*/
}

.jobs-list .text-line .small-text{
    color: #b6b6b6;
    font-size: 14px;
}

.jobs-list .text{
    color: white;
    font-family: "GothamProBold", sans-serif;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.jobs-list .text-line{
    height: 80px;
    margin-bottom: 10px;
    color: #333333;
    font-size: 22px;
}

.jobs-list h2{
    margin-bottom: 65px;
}

.jobs-list .new-btn{
    margin-top: 80px;
}

.comment-main:before{
    width: 251px;
    height: 445px;
    background: url("../img/bg-grass4.png") no-repeat center / contain;
    position: absolute;
    left: 0;
    top: -20px;
    content: "";
}

.comment-main .comment-box .point{
    width: 93px;
    height: 73px;
    display: block;
    position: absolute;
    left: 95px;
    top: 50%;
    margin-top: -36px;
    content: "";
    background: url("../img/point-comment.png") no-repeat center / contain;
}

.comment-main .comment-box .name{
    font-size: 16px;
    color: #303030;
}

.comment-main .comment-box .topic-txt{
    margin-bottom: 13px;
    color: #303030;
    font-size: 20px;
    font-style: italic;
}

.comment-main .text-bold-under-comment{
    max-width: 530px;
    margin: 0 auto 25px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: #303030;
    font-family: "GothamProBold", sans-serif;
}

.comment-box:before{
    width: 42px;
    height: 15px;
    /*content: "";*/
    left: 80px;
    position: absolute;
    top: -26px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

}

.comment-box:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 0 60px;
    content: "";
    left: 88px;
    position: absolute;
    top: -43px;
    border-color: transparent transparent transparent #ffffff;
}

.comment-box{
    width: 750px;
    margin: 0 auto 95px;
    padding: 60px 50px 70px 225px;
    display: block;
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    /*background: url("../img/comment-bg.png") no-repeat center / contain;*/
}

.comment-main .text-under-comment{
    max-width: 530px;
    margin: 0 auto;
    color: #303030;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
}

.comment-main{
    padding: 145px 20px 90px;
    position: relative;
    overflow: hidden;
    background-color: #f7f7f7;
}

.comment-box2 .comment-box{
    padding: 48px 50px 45px 280px;
}

.comment-box2:before {
    width: 274px;
    height: 425px;
    display: block;
    right: 0;
    top: 0;
    position: absolute;
    content: "";
    background: url('../img/bg-grass3.png') no-repeat center / contain;
}

.comment-box2.comment-box3{
    margin-bottom: -125px;
}

.comment-box2.comment-box3:before {
    width: 251px;
    height: 445px;
    background: url('../img/bg-grass4.png') no-repeat center / contain;
    position: absolute;
    left: 0;
    top: -20px;
    right: initial;
    content: "";
}

.comment-box2{
    margin-top: 115px;
    margin-bottom: -100px;
    padding: 100px 20px 75px;
    overflow: hidden;
    position: relative;
    background-color: #f7f7f7;
}

.comment-box .worker{
    margin-bottom: 16px;
    color: #909090;
    font-style: italic;
    font-size: 14px;
}

.design-box{
    padding-top: 0;
}

.comment-box .text-other{
    margin-bottom: 30px;
}

.comment-box .text-other p:last-child{
    margin-bottom: 0;
}

.consult-n:hover{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.consult-n{
    padding: 12px 30px 8px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-family: "GothamProBold", sans-serif;
    text-transform: uppercase;
    background-color: #4c53e6;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.comment-box .box-img{
    width: 125px;
    height: 125px;
    position: absolute;
    top: 40px;
    left: 116px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    overflow: hidden;
}

.comment-box .text-other p{
    margin-bottom: 10px;
    color: #303030;
    font-size: 16px;
    line-height: 20px;
}

.comment-box .name-user{
    margin-bottom: 0;
    color: #303030;
    font-size: 18px;
}

.client-box:before{
    width: 176px;
    height: 443px;
    left: -10px;
    top: 0;
    position: absolute;
    content: "";
    background: url("../img/bg-grass5.png") no-repeat center / contain;
}

.client-box h2{
    margin-bottom: 110px;
    color: #303030;
    font-size: 40px;
    font-family: "GothamProBold", sans-serif;
}

.client-box a img{
    max-width: 100%;
    max-height: 100%;
}

.client-box a{
    width: 100%;
    height: 107px;
    margin-bottom: 30px;
    text-align: center;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.client-box{
    margin-top: 100px;
    padding: 92px 0;
    position: relative;
    overflow: hidden;
}

.map-main{
    padding-top: 85px;
    background-color: #f7f7f7;
}

.map.important-section{
    margin-bottom: 0;
}

.footer-last-column .tooltip-custom{
    display: inline-block;
    text-align: left;
}

.footer-last-column{
    text-align: right;
}

.main .btn-secondary:not([disabled]):not(.disabled).active,
.main .btn-secondary:not([disabled]):not(.disabled):active,
.main .show > .btn-secondary.dropdown-toggle{
    border: 2px solid #424242;
    background-color: transparent;
}

.video-bg{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.bg-div .marketing-img{
    display: none;
}

.overflow{
    /*overflow: hidden;*/
}

@media only screen and (max-width: 1500px){
    .header-a{
        right: 0;
    }
}


@media only screen and (max-width: 1300px){
    .header-a {
        width: 500px;
        height: 525px;
    }
}


@media only screen and (max-width: 1150px){
    .header-a {
        width: 470px;
        height: 525px;
    }

    .header-main{
        padding-left: 50px;
    }

    .flex-imac-child-second img:nth-child(2) {
        margin-right: -1%;
    }



}

@media only screen and (max-width: 998px) {

    .bg-div .marketing-img{
        display: block;
    }

    .bg-div img{
        width: 100%;
    }

    .bg-div {
        height: initial;
    }

    .bg-div .marketing {
        margin-bottom: -142px;
    }

    .bg-div .line, .bg-div .shape{
        display: none;
    }

    .div-on-image p {
        font-size: 16px;
        line-height: 1.6;
        color: #303030;
    }

    .btn-grey {
        font-size: 13px;
        font-weight: 500;
        width: 280px;
        height: 49px;
        line-height: 50px;
    }

    .div-on-image{
        top: 50%;
    }

    .header-main h3{
        max-width: 290px;
    }

    .business-task .antvan-text{
        top: 130px;
        font-size: 170px;
    }

    .header-main h1 {
        margin-bottom: 35px;
        font-size: 51px;
        line-height: 69px;
    }

    .main {
        overflow-x: hidden;
        position: relative;
    }

    .header-a {
        width: 380px;
        height: 514px;
        right: -10px;
        background: url('../img/header-a.png') no-repeat center / 107%;
    }

    .comment-box{
        width: 90%;
        padding: 60px 50px 70px 180px;
    }

    .comment-main .comment-box .point{
        left: 45px;
    }

    .block-stat{
        margin-bottom: 20px;
    }

    .flex-imac-child-second img:nth-child(2){
        width: 40%;
    }

    .flex-imac-child-second img:nth-child(3) {
        margin: 0 3% 0 6%;
    }

    .flex-imac-child img:first-child {
        width: 42%;
    }

    .div-on-image{
        left: 57%;
    }

}

@media only screen and (max-width: 768px) {
    .main-flex-top{
        padding: 0 20px;
    }

    .main-flex-bottom{
        padding: 0 20px;
    }

    .row-description:nth-child(2n) {
        flex-direction: column-reverse;
    }

    .business-task .block-grey.grey2 .antvan-text {
        top: 127px;
    }

    #main{
        margin-right: 0;
    }

    .header-a {
        width: 245px;
        height: 514px;
        right: 0;
        background: url('../img/header-a.png') no-repeat right / 98%;
    }

    .header-main{
        padding-left: 20px;
    }

    .header-main h1 {
        margin-bottom: 30px;
        font-size: 35px;
        line-height: 49px;
    }

    .header-main h3{
        max-width: 220px;
        font-size: 15px;
    }

    section {
        padding-top: 50px;
    }

    .portfolio {
        padding-top: 0;
    }

    .best-project:before {
        width: 155px;
        height: 260px;
    }

    .bg-grass3:before {
        width: 155px;
        height: 240px;
    }

    .business-task .antvan-text {
        top: 170px;
        font-size: 110px;
    }

    .business-task .one-block {
        width: 48%;
        margin-right: 2%;
        margin-bottom: 40px;
    }

    .business-task .block-grey {
        padding: 95px 0 50px;
    }

    .awards-line .one-block2 {
        width: 33.3%;
        height: 305px;
        float: left;
        border-bottom: 1px solid #e6e6e6;
    }

    .awards-line{
        border-bottom: 0;
    }

    .business-task .article-bold br{
        display: none;
    }

    .business-task .article-bold {
        margin-bottom: 75px;
        font-size: 32px;
        line-height: 41px;
    }

    .comment-main .comment-box .point{
        width: 65px;
        height: 52px;
    }

    .comment-box {
        padding: 40px 50px 40px 140px;
    }

    .counter {
        top: 10%;
        left: 31%;
    }

    .main-icon-c .main-icon {
        width: 38%;
    }

    .main-icon-c{
        text-align: center;
    }

    .top-height {
        height: 78px;
    }

    .comment-box2 .comment-box {
        padding: 48px 30px 45px 164px;
    }

    .comment-box .box-img{
        left: 20px;
    }

    .comment-box2.comment-box3 {
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .comment-box2{
        padding-bottom: 0;
    }

    .block-stat{
        margin-bottom: 40px;
    }

    .client-box .col-lg-3.col-md-4, .block-stat{
        width: 50%;
    }

    .footer-last-column {
        text-align: left;
    }

    .flex-imac-child img:nth-child(2) {
        width: 54%;
    }

    .flex-imac-child img:last-child {
        margin: 10px 0 0 5px;
    }

    .flex-imac-child-second img:nth-child(2) {
        width: 36%;
    }

    .flex-imac-child-second img:nth-child(3) {
        margin: 0 2% 0 6%;
    }

    .bg-div img {
        width: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        min-height: 300px;
    }

    .div-on-image p {
        display: none;
    }

    .div-on-image {
        left: 0;
        text-align: center;
        right: 0;
        width: 100%;
    }

    .div-on-image {
        top: 73%;
    }

    .bg-div{
        margin-top: -60px;
    }

    .bg-div .marketing {
        margin-bottom: -115px;
    }



}

@media only screen and (max-width: 480px) {
    #main{
        padding-top: 8px;
    }

    .bg-div {
        margin-top: -20px;
    }

    .bg-div .marketing {
        margin-bottom: -100px;
    }

    .header-main h1 {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 29px;
    }

    .btn-group-vertical {
        padding-top: 30px;
    }


    .header-a {
        width: 207px;
        height: 200px;
        right: -50px;
        background: url('../img/header-a.png') no-repeat right / 98%;
        margin-top: -106px;
    }

    .main-flex-bottom{
        bottom: 75px;
    }

    .header-main h3 {
        max-width: 150px;
        font-size: 12px;
    }

    .left-links p, .left-links a {
        font-size: 11px;
        line-height: 1.77;
    }

    .header-main{
        padding-left: 15px;
        padding-bottom: 170px;
    }

    .flex-imac-child img:nth-child(2) {
        width: 52%;
    }

    .flex-imac-child-second img:first-child{
        margin-right: 0;
    }

    .flex-imac-child-second img:nth-child(3) {
        width: 55%;
    }

    .main-flex-top, .main-flex-bottom{
        padding: 0 10px 0 15px;
    }

    .main-flex-top{
        top: 15px;
    }

    h2{
        font-size: 29px;
    }

    .business-task .article-bold {
        margin-bottom: 50px;
        font-size: 26px;
        line-height: 30px;
    }

    .important-section {
        margin-bottom: 100px;
    }

    .bg-grass3:before {
        width: 95px;
        height: 147px;
    }

    .business-task .block-grey{
        padding: 45px 0;
    }

    .business-task .one-block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .business-task .antvan-text{
        display: none;
    }

    .awards-line .one-block2{
        width: 50%;
    }

    .awards-line .text-awords{
        font-size: 12px;
    }

    .awards-line .article{
        font-size: 27px;
    }

    .awards-line .one-block2{
        height: 275px;
    }

    .business-task .block-white{
        padding: 50px 0;
    }

    .business-task .caption{
        margin-bottom: 30px;
    }

    .comment-main .comment-box .point {
        width: 35px;
        height: 28px;
        top: 0;
        left: 25px;
        margin-top: 20px;
    }

    .comment-box {
        padding: 60px 20px 40px 20px;
    }

    .comment-main .comment-box .topic-txt{
        font-size: 18px;
    }

    .comment-main:before {
        width: 110px;
        height: 200px;
    }

    .comment-main .text-bold-under-comment{
        font-size: 17px;
    }

    .comment-box{
        margin: 0 auto 65px;
    }

    .comment-main{
        padding:145px 20px 50px;
    }

    .description {
        font-size: 20px;
        font-weight: bold;
        color: #303030;
        margin: 0;
    }

    .main-icon-c .main-icon{
        width: 54%;
    }

    .counter{
        left: 22%;
    }

    .btn-grey{
        width: 90%;
        margin-top: 0;
    }

    .client-box .col-lg-3.col-md-4, .block-stat{
        width: 100%;
    }

    .comment-box2.comment-box3:before {
        width: 135px;
        height: 240px;
    }

    .comment-box .box-img {
        width: 125px;
        height: 125px;
        margin: 0 auto 20px;
        position: relative;
        top: initial;
        left: initial;
    }

    .comment-box2 .comment-box {
        padding: 30px 20px;
    }

    .comment-box .text-other p {
        font-size: 13px;
        line-height: 16px;
    }

    .consult-n{
        padding: 12px 18px 8px;
        font-size: 11px;
        display: block;
    }

    .white-text {
        font-size: 16px;
        line-height: 1.9;
    }

    .second-images {
        padding-top: 0;
    }

    .comment-box2{
        padding-bottom: 100px;
    }

    .comment-box2:before {
        width: 144px;
        height: 225px;
    }

    .comment-box2.comment-box3 {
        padding-bottom: 50px;
    }

    .comment-box2 {
        padding-bottom: 0;
    }

    .client-box:before {
        width: 100px;
        height: 253px;
        left: -10px;
        top: 0;
    }

    .client-box h2{
        margin-bottom: 50px;
    }


}