/*
Theme Name: ALPHAZ
Author: Artem Tsykal
Version: 1.0.0
*/

.wrapper{
	padding: 0 15px;
}

.img-prev-small{
	height: 250px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

/* =Map Pin Animation */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0; } }
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0; } }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.bounceInDown {
  -webkit-animation: bounceInDown 1s both;
          animation: bounceInDown 1s both; }

/* =Places Map */
#places-map {
  position: relative; }
  @media (min-width: 87.5em) {
    #places-map h1 {
      font-size: 1.3125em;
      margin-top: 0.95238em;
      text-align: center; } }
  @media (min-width: 87.5em) and (min-width: 37.5em) {
    #places-map h1 {
      font-size: 2.1875em;
      margin-top: 0.94286em; } }
  #places-map img {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 1; }
  .secondary-page #places-map .content {
    margin: 0;
    position: relative; }
    @media (min-width: 60em) {
      .secondary-page #places-map .content {
        margin: 0 auto; } }
  #places-map .map {
    position: relative;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  #places-map .map-pins {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%; }
  #places-map .map-location-marker {
    background: url(http://jeffbridgforth.com/codepen/map-pin.png) no-repeat;
    cursor: pointer;
    position: absolute;
    height: 30px;
    margin-top: -1.875em;
    margin-left: -0.78571em;
    width: 21px;
    z-index: 3; }
    @media (min-width: 48em) {
      .js #places-map .map-location-marker {
        visibility: hidden; }
      .js #places-map .map-location-marker.bounceInDown {
        visibility: visible; } }

/*MARKERS*/
  #places-map .marker-australia {
    bottom: 20%;
    right: 15%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s;  
  }
  #places-map .marker-argentina {
    bottom: 4%;
    left: 27.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s;  
  }
  #places-map .marker-brasil {
    bottom: 25%;
    left: 32.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-england{
    top: 30%;
    left: 46.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-germany{
    top: 33%;
    left: 49.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }

  #places-map .marker-india{
    top: 54%;
    right: 30.5%;
    -webkit-animation-delay: .10s;
            animation-delay: .10s; 
  }
  #places-map .marker-indonezy{
    top: 64%;
    right: 20.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-italy{
    top: 40%;
    right: 48%;
    -webkit-animation-delay: .6s;
            animation-delay: .6s; 
  }
  #places-map .marker-canada{
    top: 25%;
    left: 16%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-china{
    top: 46%;
    right: 22.5%;
    -webkit-animation-delay: .7s;
            animation-delay: .7s; 
  }
  #places-map .marker-mexico{
    top: 50%;
    left: 18.5%;
    -webkit-animation-delay: .8s;
            animation-delay: .8s; 
  }
  #places-map .marker-ru{
    top: 24%;
    right: 23.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-sa{
    top: 51%;
    right: 39.5%;
    -webkit-animation-delay: .4s;
            animation-delay: .4s; 
  }
  #places-map .marker-usa{
    top: 38%;
    left: 19.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-tyrky{
    top: 41%;
    left: 56.5%;
    -webkit-animation-delay: .5s;
            animation-delay: .5s; 
  }
  #places-map .marker-fran{
    top: 36%;
    left: 47%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-uk{
    top: 43%;
    right: 16.5%;
    -webkit-animation-delay: .7s;
            animation-delay: .7s; 
  }
  #places-map .marker-uar{
    bottom: 17%;
    left: 53.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-japany{
    top: 43%;
    right: 13.5%;
    -webkit-animation-delay: .9s;
            animation-delay: .9s; 
  }
  #places-map .marker-ukraine{
    top: 35%;
    left: 56.5%;
    -webkit-animation-delay: .6s;
            animation-delay: .6s; 
  }
/*END MARKERS*/
  #places-map .map-location-marker:after {
    -webkit-animation: pulsate 2s ease-in-out infinite;
            animation: pulsate 2s ease-in-out infinite;
    background: transparent;
    border: 2px solid #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    content: "";
    display: block;
    height: 31px;
    left: -5px;
    opacity: 0;
    position: absolute;
    top: -6px;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    width: 31px;
    z-index: 2; }
  #places-map #page-places {
    position: relative; }

#map-info {
  background: #000;
  color: #fff;
  position: absolute;
  top: -1.5625em;
  left: 50%;
  margin-left: -7.8125em;
  padding: 1.125em;
  width: 15.625em;
  z-index: 10; }
  #map-info .close-btn {
    background: url(http://jeffbridgforth.com/codepen//close-btn.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 0.6875em;
    width: 0.6875em;
    position: absolute;
    right: 1.125em;
    top: 1.125em; }
  @media (min-width: 30em) {
    #map-info {
      top: 50%;
      margin-top: -8.875em; } }
  @media (min-width: 60em) {
    #map-info {
      margin-left: -8.875em;
      width: 17.75em; } }
  @media (min-width: 48em) {
    #map-info {
      margin-left: 0;
      margin-top: 0; }
      #map-info:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 16px 13px 0;
        border-color: transparent #000 transparent transparent;
        position: absolute;
        left: -16px; }
/*MAP INFO*/
      #map-info.australia {
        left: auto;
        top: auto;
        right: 18%;
        bottom: 13%;
      }
      #map-info.australia:before {
        border-width: 13px 0 13px 16px;
        border-color: transparent transparent transparent #000;
        left: auto;
        right: -16px;
        bottom: 50px;
      }
      #map-info.argentina {
        left: 30%;
        bottom: 3%;
        top: auto;
      }
      #map-info.argentina:before {
        top: auto;
        bottom: 15px;
      }
      #map-info.brasil {
        left: 35%;
        bottom: 24%;
        top: auto;
      }
      #map-info.brasil:before {
        top: auto;
        bottom: 15px;
      }
      #map-info.england {
        left: 49%;
        bottom: auto; 
        top: 23%;
      }
      #map-info.germany {
        left: 52%;
        bottom: auto;
        top: 26%;
      }

      #map-info.india {
        left: 71%;
        bottom: auto;
        top: 47%;
      }
      #map-info.indonezy {
        left: 55%;
        bottom: auto;
        top: 32%;
      }
      #map-info.indonezy:before {
        border-width: 13px 0 13px 16px;
        border-color: transparent transparent transparent #000;
        left: auto;
        right: -16px;
        bottom: 50px;
      }
      #map-info.italy {
        left: 54%;
        bottom: auto;
        top: 33%;
      }
      #map-info.canada {
        left: 19%;
        bottom: auto;
        top: 18%;
      }
      #map-info.china {
        left: 53%;
        bottom: auto;
        top: 14%;
      }
      #map-info.china:before {
        border-width: 13px 0 13px 16px;
        border-color: transparent transparent transparent #000;
        left: auto;
        right: -16px;
        bottom: 50px;
      }
      #map-info.mexico {
        left: 21%;
        bottom: auto;
        top: 43%;
      }
      #map-info.ru {
        left: 52%;
        bottom: auto;
        top: 12%;
      }
      #map-info.ru:before {
        border-width: 13px 0 13px 16px;
        border-color: transparent transparent transparent #000;
        left: auto;
        right: -16px;
        top: 50px;
      }
      #map-info.sa {
        left: 62%;
        bottom: auto;
        top: 44%;
      }
      #map-info.usa {
        left: 22%;
        bottom: auto;
        top: 31%;
      }
      #map-info.tyrky {
        left: 59%;
        bottom: auto;
        top: 34%;
      }
      #map-info.fran {
        left: 49.5%;
        bottom: auto;
        top: 29%;
      }
      #map-info.uk {
        left: 59%;
        bottom: auto;
        top: 11%;
      }
      #map-info.uk:before {
        border-width: 13px 0 13px 16px;
        border-color: transparent transparent transparent #000;
        left: auto;
        right: -16px;
        bottom: 50px;
      }
      #map-info.uar {
        left: 56%;
        bottom: auto;
        top: 45%;
      }
      #map-info.uar:before {
        top: auto;
        bottom: 15px;
      }
      #map-info.japany {
        left: 62%;
        bottom: auto;
        top: 11%;
      }
      #map-info.japany:before {
        border-width: 13px 0 13px 16px;
        border-color: transparent transparent transparent #000;
        left: auto;
        right: -16px;
        bottom: 50px;
      }
      #map-info.ukraine {
        left: 59%;
        bottom: auto;
        top: 28%;
      }

/*END MAP INFO*/
      #map-info h1 {
        float: left;
        font-size: 1.375em;
        line-height: 1;
        margin-bottom: 0.72727em;
        margin-top: 0; }
      #map-info a {
        color: #fff;
        display: block;
        font-size: 0.75em;
        float: right;
        margin-right: 2.5em;
        margin-top: 0.66667em;
        text-decoration: underline; }
      #map-info img {
        height: auto;
        max-width: 100%; } }

#map-info:before{
  display: none
}
