#footer{
  background: #fff;
  padding: 55px 0;
}

#footer .logo{
  color: #444;
  font-size: 20px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 600;
}
#footer .logo img{
  height: 100px
}
#footer .copyright{
  font-size: 13px;
  line-height: 1.6;
  color: #9b9b9b;
  margin-top: 10px;
  font-weight: 400;
  font-family: Montserrat;
}

#footer{
  h3.widget-title{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    font-family: Montserrat;
    margin-bottom: 10px;
    text-align: center;
    @media (min-width: 992px){
      text-align: left;
    }
  }
  .widget_nav_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      text-align: center;
      @media (min-width: 992px){
        text-align: left;
      }
    }
  }
  .widget_nav_menu ul li a,
  a.widget-modal-link{
    font-size: 13px;
    line-height: 1.6;
    color: #9b9b9b;
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Montserrat';
    transition: all 0.4s;

    &:hover{
      color: $main-color;
    }
  }

  .widget_modal_window_with_text{
    text-align: center;
    @media (min-width: 992px){
      text-align: left;
    }
  }
}