$header-height: 52px;
$header-height-sticky: 42px;
body{
  position: relative;
}

#header{
  height: $header-height;
  width: 100%!important;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 9999;
  background: #fff;
  transition: height 0.4s;
  border-bottom: 1px solid $border-color;
}
#header.sticky{
  height: $header-height-sticky;
  box-shadow: $shadow--type_1;
  border-bottom: 1px solid #fff;
}

#header .logo{
  height: $header-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #444;
  font-size: 20px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none!important;
  transition: all 0.4s;
}
#header.sticky .logo{
  height: $header-height-sticky;
}
#header .logo span.small{
  text-decoration: none !important;
  font-size: 13px;
  font-family: Montserrat;
  color: #212121;
  font-weight: 400;
  text-transform: uppercase;
}
#header .logo span.small:before{
  content: '|';
  margin: 0 8px;
}

#header .user-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  height: $header-height;
  transition: all 0.4s;
}
#header.sticky .user-nav{
  height: $header-height-sticky;
}

#header .header-icon{
  height: 18px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-text;
  cursor: pointer;
  transition: all 0.4s;
  border-left: 1px solid $border-color;
  padding: 0 25px;
  @media screen and (max-width: 1366px){
    padding: 0 20px;
  }
  @media screen and (max-width: 768px){
    padding: 0 18px;
  }
  .text{
    font-size: 16px;
    line-height: 16px;
    font-family: Montserrat;
  }
  &:hover{
    //background: $main-color;
    color: $main-color
  }

  &:nth-child(3){
    @media screen and (min-width: 992px) {
      border: none;

    }
  }
}

#header.sticky .header-icon{
  height: 100%;
}

#header-sticky-wrapper{
  z-index: 999
}

#header .login-in{
  font-family: Raleway;
  font-size: 16px;
}


//NAVIGATION
.header-navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;

  li{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
.header-navigation ul li a{
  text-decoration: none!important;
  font-size: 13px;
  font-family: Montserrat;
  color: $main-text;
  font-weight: 400;
  margin: 0 10px;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: auto;
    right: 0;
    height: 2px;
    width: 0;
    background: $main-color;
    transition: all 0.4s;
  }
  &:hover:after, &.has-submenu.show{
    left: 0;
    right: auto;
    width: 100%;
  }
}
.header-navigation ul li.show a:after{
  left: 0;
  right: auto;
  width: 100%;
}

.header-navigation ul.submenu{
  display: none;
  flex-direction: column;
  position: absolute;
  top: $header-height;
  left: 0;
  width: 200px;
  height: auto;
  background: #ffff;
  padding: 10px 20px;
  box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24), 0px 2px 5.88px 0.12px rgba(0, 0, 0, 0.16);
  transition: all 0.4s;
  opacity: 0;
}
#header.sticky .header-navigation ul.submenu{
  top: $header-height-sticky;
}
.header-navigation li.show ul{
  opacity: 1;
}

.header-navigation .submenu .submenu-item {
  display: block;
  transition: all 0.4s;
  transform: translateY(10px);
  opacity: 0.4
}
.header-navigation li.show ul .submenu-item {
  transform: translateY(0px);
  opacity: 1
}
.header-navigation .submenu .submenu-item a {
  display: inline-block;
  color: #444;
  padding: 0;
  margin: 2px 0;
  font-size: 12px;
  text-transform: unset;
  font-family: Montserrat;
  transition: all 0.4s;
}
.header-navigation .submenu .submenu-item a:hover {
  color: $main-color
}
.header-navigation .submenu .submenu-item a:after {
  display: none;
}


#mobile-menu{
  height: 26px;
  width: 30px;
  cursor: pointer;
  position: relative;
  .line{
    width: 28px;
    height: 2px;
    background-color: rgba(#000, .75);
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 1px;
  }
  &.is-active {
    .line:nth-child(2){
      opacity: 0;
    }
    .line:nth-child(1){
      transform: translateY(7px) rotate(45deg);
    }
    .line:nth-child(3){
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

#mobile-menu{
  .menu-section{
    position: fixed;
    top: 0;
    left: -70vw;
    height: 100vh;
    width: 70vw;
    overflow: auto;
    background: rgba($bg-color--dark, 1);
    transition: left 0.4s;
  }
  &.is-active .menu-section{
    left: 0;
  }
}

#mobile-menu {
  .menu-section{
    padding-top: 20px;
    ul{
      list-style: none;
      padding: 0 0 0 25px;
      margin: 0;
      li{
        padding: 0;
        padding-top: 15px
      }

      ul{
        list-style: none;
        padding: 0 0 0 15px;
        padding-top: 15px;
        li{
          padding: 0;
          padding: 3px 0;

        }
      }
      a{
        font-size: 11px;
        text-transform: uppercase;
        font-family: Montserrat;
        font-weight: 600;
      }
      a:hover{
        color: #fff;
      }
    }
  }
}

#header.sticky a.full-h, #header a.full-h{
  height: 34px;
  padding: 0;
  display: flex;
  align-items: center;
  background: $main-color;
  border-radius: 18px;
  margin-right: 15px;
  &:hover{
    background: lighten($main-color, 3%);
  }
}
.add-project-btn{
  font-size: 11px;
  color: #fff;
  padding: 0 15px;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
}

#header.sticky a.full, #header a.full{
  background: $main-color;
  color: #fff;
  height: 100%;

}