#pre-loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: #212121;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pre-loader .site-name {
  z-index: 999;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  font-family: Montserrat;
}
#loader, #loader:after{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#loader {
  font-size: 10px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  text-indent: -9999em;
  border: 10px solid rgba(255, 255, 255, .12);
  border-left: 10px solid #1D9D73;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  box-sizing: border-box;
}
@keyframes load8 {
  0%    { transform:rotate(0deg) }
  100%  { transform:rotate(360deg) }
}
body{
  height: 100vh;
  overflow: hidden;
}

