@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Open+Sans:300,400,600&subset=cyrillic');
@import "additional/fonts";

//icons
@import "additional/flaticon_1";
@import "additional/flaticon_2";

@import "additional/vars";
@import "bootsrap/bootstrap";
@import "additional/base";
@import "additional/typography";
@import "additional/indents";
@import "elements/modal-window";



@import "elements/home_slider";
@import "pages/home";
@import "pages/user_profile";
@import "pages/user_projects";
@import "pages/single_projects";
@import "pages/search";

@import "pages/auth";

@import "pages/archive-category";

@import "header";
@import "footer";


section{
  background: $bg-color;
  padding: 16px 0;
  &.light{
    background: #fff;
  }
}

.font-type-1{
  font-family: "Open Sans";
}
.font-type-2{
  font-family: Montserrat;
}

//elements
//tab item
.tab-item{
  color: $main-text;
  height: 48px;
  padding: 0 0 20px;
  margin-right: 24px;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  line-height: 1;
  text-decoration: none!important;
  border-bottom: 2px solid rgba($main-color, 0);
  transition: all 0.4s;
  font-family: Montserrat;
  &:hover{
    color: $main-color;
  }
  &.active{
    color: $main-color;
    border-color: rgba($main-color, 1);
  }
}

//icons
i.shortcut-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  font-size: 24px;
  color: $secondary-text--light;
  background: #fff;
  box-shadow: $shadow--type_1;
  text-decoration: none!important;
  transition: all 0.4s;
  cursor: pointer;

  &.simple{
    background: rgba($accent-color, 1);
    color: #fff;
    &:hover{
      background: rgba($accent-color, .56);
      color: #fff;
    }

  }

  &.delete{
    background: rgba(#F1423B, 1);
    color: #fff;

    &:hover{
      background: lighten(#F1423B, 15%);
      color: #fff;
    }
  }
}

//stroke icon
.stroke-icon{
  font-size: 24px;
  color: $secondary-text;
  font-weight: 500;
}

//buttons
.filled-btn{
  padding: 20px 45px;
  background: $accent-color;
  font-size: 12px;
  line-height: 12px;
  font-family: "Open Sans";
  color: #fff!important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.4s;
  letter-spacing: 1px;
  border: none;
  text-decoration: none!important;
  &:hover {
    background: lighten($accent-color, 3%);
  }

  &.grey-btn{
    background: $border-color;
    color: #444!important;
  }

  &.grey-btn:hover{
    background: lighten($accent-color, 3%);
    color: #fff!important;
  }
}

.filled-btn--small{
  @extend .filled-btn;
  padding: 15px 25px;
  font-size: 11px;
}

//sidebar navigation
.sidebar-nav{
  list-style: none;
  margin: 0;
  padding-left: 16px;
  display: block;
  li{display: inline-block;}
  .tab-item{ margin: 0; padding: 0 0 10px}
}

//divider
.divider{
  width: 100%;
  height: 1px;
  background: $border-color;
  margin-bottom: 16px;
}

//INPUTS
.material-textarea-field{
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #757575;
  transition: all 0.4s;
  min-height: 37px;
}
.material-textarea-field:focus{
  border-bottom: 1px solid $main-color;
}

.input-field{
  padding-bottom: 30px;
    label {
      display: block;
      margin: 0;
      font-family: Montserrat;
      font-size: 14px;
      margin-bottom: 5px;
      color: #444;
    }
  input {
    height: 45px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: 0 10px;
    outline: none;
    transition: all 0.4s;
    font-family: "Open Sans";
    color: $main-text;
    &:focus {
      border: 1px solid $main-color;
    }
    &::placeholder {
      color: $secondary-text;
    }
  }
}
.area-field{
  padding-bottom: 30px;
  label{
    display: block;
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
    margin-bottom: 5px;
    color: #444;
  }

  textarea {
    min-height: 100px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $border-color;
    outline: none;
    transition: all 0.4s;
    font-family: "Open Sans";
    color: $main-text;
    &:focus {
      border: 1px solid $main-color;
    }
    &::placeholder {
      color: $secondary-text;
    }
  }
}
select{
  height: 45px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.12);
  padding: 0 10px;
  outline: 0;
  transition: all .4s;
  font-family: "Open Sans";
  color: #212121;
  cursor: pointer
}

.select-field{
  padding-bottom: 30px;
  label {
    display: block;
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
    margin-bottom: 5px;
    color: $main-color;
  }
  .selectric-scroll {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    li{
      background: #fff;
      font-size: 14px;
      font-family: "Open Sans";
      border: none;
      &:hover{background: $bg-color}
      &.selected{color: $main-color}
    }
  }
  .selectric {
    height: 45px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: 0 10px;
    outline: none;
    .label {
      font-size: 16px;
      font-family: "Open Sans";
      color: $dark;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      &:after {
        font-family: Linearicons-Free;
        content: '\e874';
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

//single-project-page
#single-project-page .material-textarea-field{
  padding-top: 20px;
}

.shadow{
  box-shadow: $shadow--type_1;
}

.text-info-widget{
  font-size: 13px;
  line-height: 1.6;
  color: #9b9b9b;
  font-weight: 400;
  font-family: Montserrat;
}