#home-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -60px; }

#home-slider .slides {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000; }
  #home-slider .slides .item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 100vh; }
  #home-slider .slides .item .item-img {
    height: 100%;
    width: 100%;
    background: #000;
    overflow: hidden; }
    #home-slider .slides .item .item-img .item-img-src {
      height: 100vh;
      width: 100vw;
      background-position: center;
      -webkit-background-size: cover;
              background-size: cover;
      background-color: #000;
      position: relative; }
      #home-slider .slides .item .item-img .item-img-src:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4); }
  #home-slider .slides .item-description {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 86px;
    font-weight: 700;
    font-family: Gilroy;
    color: #fff; }
    #home-slider .slides .item-description .title {
      max-width: 60vw;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 0 25px; }
      #home-slider .slides .item-description .title span.mask {
        height: 104px;
        display: block;
        overflow: hidden;
        margin-right: 25px; }
      #home-slider .slides .item-description .title span.text {
        display: block;
        line-height: 1.2;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0); }
    #home-slider .slides .item-description .link {
      padding: 0 25px;
      font-size: 16px;
      margin-top: 25px;
      max-width: 60vw; }
      #home-slider .slides .item-description .link:before {
        content: '';
        display: block;
        height: 2px;
        width: 60px;
        background: #0CA9F2;
        margin-bottom: 25px; }
      #home-slider .slides .item-description .link a {
        font-family: ProximaNova;
        color: #fff;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        position: relative; }
    #home-slider .slides .item-description .action-links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #home-slider .slides .item-description .action-links a {
        display: block;
        height: 55px;
        width: 250px;
        border: 1px solid #0CA9F2;
        background: #0CA9F2;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none !important;
        margin: 50px 25px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
        #home-slider .slides .item-description .action-links a:hover {
          background: #3cbaf5;
          border-color: #3cbaf5; }
    @media only screen and (max-width: 1200px) {
      #home-slider .slides .item-description {
        font-size: 65px; }
        #home-slider .slides .item-description .title {
          max-width: 70vw; }
        #home-slider .slides .item-description .title span.mask {
          height: 80px;
          margin-right: 20px; } }
    @media only screen and (max-width: 769px) {
      #home-slider .slides .item-description {
        font-size: 50px; }
        #home-slider .slides .item-description .title {
          max-width: 80vw; }
        #home-slider .slides .item-description .title span.mask {
          height: 60px;
          margin-right: 15px; } }
    @media only screen and (max-width: 500px) {
      #home-slider .slides .item-description {
        font-size: 35px; }
        #home-slider .slides .item-description .title {
          max-width: 85vw; }
        #home-slider .slides .item-description .title span.mask {
          height: 45px;
          margin-right: 10px; } }
    @media only screen and (max-width: 360px) {
      #home-slider .slides .item-description {
        font-size: 32px; }
        #home-slider .slides .item-description .title {
          max-width: 80vw; }
        #home-slider .slides .item-description .title span.mask {
          height: 35px;
          margin-right: 8px; } }

#home-slider .navigation {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 25px;
  left: 25px; }
  #home-slider .navigation .next, #home-slider .navigation .prev {
    height: 44px;
    width: 44px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer; }
    #home-slider .navigation .next:hover, #home-slider .navigation .prev:hover {
      background: #03A9F4; }
  #home-slider .navigation .next {
    margin-left: 15px; }

#home-slider .slides-nav {
  position: absolute;
  right: 25px;
  top: 50%;
  width: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  #home-slider .slides-nav a {
    display: block;
    cursor: pointer;
    padding: 8px 0; }
    #home-slider .slides-nav a span {
      display: block;
      height: 2px;
      width: 15px;
      background: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  #home-slider .slides-nav a:hover span, #home-slider .slides-nav a.active span {
    width: 30px;
    background: #fff; }

#home-slider .bottom-counters {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff; }
  #home-slider .bottom-counters .counter-item {
    padding: 0 50px;
    border-right: 1px solid #fff; }
    #home-slider .bottom-counters .counter-item:last-child {
      border: none; }
    #home-slider .bottom-counters .counter-item .top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      font-size: 40px; }
      #home-slider .bottom-counters .counter-item .top .fa-users {
        font-size: 52px;
        line-height: 0.75; }
    #home-slider .bottom-counters .counter-item .top .count {
      font-family: Gilroy;
      font-weight: 700;
      line-height: 0.75;
      font-size: 45px;
      padding: 0 15px;
      width: 135px; }
    #home-slider .bottom-counters .counter-item .description {
      font-family: Roboto;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.75);
      margin-top: 10px; }
