.files-area {
  label.field-name {
    display: block;
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
    margin-bottom: 5px;
    color: #444;
  }
  .file-item-prev{
    height: 200px;
    background-color: #fff;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    border: 1px solid $border-color;
    position: relative;
    .remove-item{
      position: absolute;
      top: -10px;
      right: -10px
    }
    .upload-loader{
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      height: 40px;
      width: 40px;
      border: 5px solid rgba($accent-color, 0.45);
      border-top: 5px solid $accent-color;
      border-radius: 50%;
      animation: rotate 1s infinite linear;
      z-index: 999;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .file-input {
    input[type="file"] {
      display: none;
      & + label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        background-color: #fff;
        border-radius: 2px;
        background-size: cover;
        background-position: center;
        border: 1px solid $border-color;
        cursor: pointer;
        position: relative;
      }
      & + label:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0);
        transition: all 0.4s;
      }
      & + label:hover:before {
        background: rgba(0, 0, 0, 0.6);
      }
      & + label i {
        font-size: 40px;
        color: $secondary-text;
        z-index: 1;
        transition: all 0.4s;
      }
      & + label:hover i {
        color: #fff
      }
    }
  }
}


