@font-face {
  font-family: "Flaticon_2";
  src: url("../icons/flaticon_2.eot");
  src: url("../icons/flaticon_2.eot?#iefix") format("embedded-opentype"),
  url("../icons/flaticon_2.woff") format("woff"),
  url("../icons/flaticon_2.ttf") format("truetype"),
  url("../icons/flaticon_2.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon_2";
    src: url("../icons/flaticon_2.svg#Flaticon") format("svg");
  }
}

.fi_2:before{
  display: inline-block;
  font-family: "Flaticon_2";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  font-smoothing: antialiased;
}

.flaticon-mail:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-like:before { content: "\f102"; }
.flaticon-user:before { content: "\f103"; }
    
$font-Flaticon-mail: "\f100";
$font-Flaticon-search: "\f101";
$font-Flaticon-like: "\f102";
$font-Flaticon-user: "\f103";