@font-face {
  font-family: "Flaticon_1";
  src: url("../icons/flaticon_1.eot");
  src: url("../icons/flaticon_1.eot?#iefix") format("embedded-opentype"),
       url("../icons/flaticon_1.woff") format("woff"),
       url("../icons/flaticon_1.ttf") format("truetype"),
       url("../icons/flaticon_1.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon_1";
    src: url("../icons/flaticon_1.svg#Flaticon") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon_1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  font-smoothing: antialiased;
}

.flaticon-music:before { content: "\f100"; }
.flaticon-gear:before { content: "\f101"; }
.flaticon-favorite:before { content: "\f102"; }
.flaticon-search:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-new-message-envelope:before { content: "\f105"; }
    
$font-Flaticon-music: "\f100";
$font-Flaticon-gear: "\f101";
$font-Flaticon-favorite: "\f102";
$font-Flaticon-search: "\f103";
$font-Flaticon-people: "\f104";
$font-Flaticon-new-message-envelope: "\f105";