a{
  text-decoration: none;
  color: #757575;
  transition: color 0.4s;
  &:hover{
    color: $main-color;
  }
}
h1{
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 11px;
  font-family: Montserrat;

  .title{
    font-family: ProximaNova;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 1.2;
    color: #444;
    font-weight: 900;
    margin: 0;
  }
  .large{
    font-size: 112px;
    font-weight: 300;
    line-height: 128px;
    letter-spacing: -5px;
    padding-top: 17px;
    margin-bottom: 15px;
  }
  .medium-large{
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    padding-top: 8px;
    margin-bottom: 28px;
  }
}
h2{
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
}
h3{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
}
h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
  padding-top: 18px;
  margin-bottom: 12px;
}
h5{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
}
h6{
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
}
p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  word-break: break-word;
}
.text-caption {
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  padding-top: 6px;
  margin-bottom: 14px;
  margin-top: 0;
}
.text-menu {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 6px;
  margin-bottom: 14px;
}
.text-button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
}
.text-desc{
  color: #676767;
  font-size: 14px;
  line-height: 28px;
  font-family: "Open Sans";
  font-weight: 400;
  p{
    padding-bottom: 15px;
  }
}
body {
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans";
}
h1, h1.medium-large, h1.large, h2, .text-caption{
  color: $secondary-text;
}
h3, h4, h5, h6, p, .text-menu, .text-button {
  color: $main-text;
}

.text-light{
  font-weight: 300;
}
.text-bold{
  font-weight: 600;
}
.text-black{
  color: #000;
}
.text-secondary{
  color: $secondary-text;
}
.text-green{
  color: $accent-color;
}
.text-orange{
  color: #FE5722;
}
