//text
$main-text: #212121;
$secondary-text: #757575;

$main-text--light: #DEDEDE;
$secondary-text--light: #8A8A8A;

//background
$bg-color: #FAFAFA;
$card-bg: #FFF;
$bg-color--dark: #212121;

//main
$main-color: #1D9D73;
$accent-color: #1D9D73;

//divider
$border-color--light: rgba(255, 255, 255, .12);
$border-color: rgba(0, 0, 0, .12);

//shadow
$shadow--type_1: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24), 0px 2px 5.88px 0.12px rgba(0, 0, 0, 0.16);
$shadow--type_2: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24), 0px 1px 6.86px 0.14px rgba(0, 0, 0, 0.16);
$shadow--type_3: 0px 5px 6.58px 0.42px rgba(0, 0, 0, 0.24), 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.16);
$shadow--type_4: 0px 13px 18.8px 1.2px rgba(0, 0, 0, 0.24),0px 5px 26.46px 0.54px rgba(0, 0, 0, 0.16);
$shadow--type_5: 0px 20px 28.2px 1.8px rgba(0, 0, 0, 0.24),0px 8px 40.18px 0.82px rgba(0, 0, 0, 0.16);




