html {
  box-sizing: border-box;
}
body{
  margin: 0;
}
a{
  text-decoration: none!important;
}

button{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

button, input, textarea, div{
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "functions";
@import "variables";


@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/hover";
@import "mixins/text-emphasis";
@import "mixins/text-hide";
@import "mixins/text-truncate";
@import "mixins/grid";
@import "utilities/spacing";


@import "grid";
@import "utilities/display";
@import "utilities/flex";
@import "utilities/text";
